.header--button{display: block;
justify-self:center;
background-color: #2699FB;
border:none;
outline:none;
// width:20.44em;
height:3em;
box-shadow: 0 3 6;
border-radius:1.5em;

a {
    font-size: 1.6em;
    font-weight: bold;
    padding: .5em 2em;
    color: white;
    text-decoration: none;
}
}